.contenido{
    padding-left: 7%;
    padding-right: 1%;
}

span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style:normal;
    color: white;
}

#encabezado{
    font-family: 'Lato', sans-serif;
    display: inline;
    text-align: center;
    padding-left: 20px;
    font-size: 70px;
    font-style:normal;
    font-weight: 900;
    line-height: 1px;
  }

 