
<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>
   <!-- Encabezado -->
<div id="encabezado">
  <h1 align="center">Nota de servicio</h1>
</div>

<!-- Linea -->
<div id="contenedor-linea">
  <div id="linea">
  </div>
</div>

<div class="contenedorAlr" align="center">
  <!--
  <div class="alert" *ngIf="alertaArriba != false;">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
          (click)="borrarArriba()">&times;</span> 
      <strong>ERROR!</strong> Ha ocurrido un error al filtrar los servicios.
    </div>
  -->
</div>

<div id="contenedor-formulario">
<form id="form" class="topBefore" action="Envio.php" method="post">
  <div id="datos-filtro" align="center">
<table>
      <tr>
          <td id="descripcion">Estado: </td> 
          <td>
              <select name="esta" id="metodoPago" [(ngModel)]="filtroEst" [ngModelOptions]="{standalone: true}">
              <option id="select-opt" value="" selected>Seleccione uno</option>
              <option id="select-opt"  value="Sin revisar">Sin revisar</option>
              <option id="select-opt"  value="En proceso">En proceso</option>
              <option id="select-opt"  value="Cancelado">Cancelado</option>
              <option id="select-opt"  value="Completado">Completado</option>
              <option id="select-opt"  value="Por contactar">Por contactar</option>
              </select>
          </td>
      </tr>
      <tr>
          <td id="descripcion">Fecha de solicitud: </td> 
          <td><input id="filtrOrden" type="date" [(ngModel)]="filtroFech" [ngModelOptions]="{standalone: true}"></td>
      </tr>
</table>
  </div>
  <div id="botones-filtro">
      <input id="submit" type="button" name="btn-operacion" value="Filtrar">
      <input id="submit" type="button" name="btn-operacion" value="Mostrar todo">
  </div>
</form>
<div id="ancho">
  <div id="contenedorTabla">
      <table id="tabla" align="center">
          <tr id="tituloTabla">
              <th>Código de servicio</th>
              <th>Nombre del cliente</th>
              <th>Télefono del cliente</th>
              <th>Apellido paterno del cliente</th>
              <th>Nombre del empleado</th>
              <th>Apellido paterno del empleado</th>
              <th>Descripción del problema</th>
              <th>Fecha de solicitud</th>
              <th>Estado</th>
          </tr>
                  <!--<tr *ngFor="let serv of filtrado">-->
                  <tr>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio </td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                  </tr>
              </table>
  </div>
</div>
<br><br>
</div>

<!-- Encabezado -->
<div id="encabezado">
  <h1 align="center">Consultar y modificar servicios</h1>
</div>

<!-- Linea -->
<div id="contenedor-linea">
  <div id="linea">
  </div>
</div>

<div class="container">
<h1 align="center">si</h1>
</div>

<!-- Formulario -->
<div class="container">
  <form id="form" action="Envio.php" method="post">
    
      <div id="datos-servicio" align="center" class="container">
          

                     
                      Código de servicio:  
                      <input id="idServicio"  placeholder="Código del servicio"  class="form-control" [(ngModel)]="servicio.codigoTick" [ngModelOptions]="{standalone: true}">
                  
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Nombre: </td> 
                      <td><input id="nombre_cli" maxlenght="100" type="text" class="form-control"  placeholder="Nombre del cliente" [(ngModel)]="servicio.nombreCli" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Apellido paterno: </td> 
                      <td><input id="apellidoPat_cli" maxlenght="100" type="text" class="form-control" placeholder="Apellido paterno del cliente" [(ngModel)]="servicio.apellidoPatCli" [ngModelOptions]="{standalone: true}"></td>
                  </tr>

                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Teléfono: </td> 
                      <td><input id="apellidoPat_cli" maxlenght="100" type="text" class="form-control" placeholder="Teléfono para contactar al cliente" [(ngModel)]="servicio.telefono" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
              
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Nombre: </td> 
                      <td><input id="nombre_emp" maxlenght="100" type="text" class="form-control" placeholder="Nombre del empleado" [(ngModel)]="servicio.nombreEmp" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
              
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Apellido paterno: </td> 
                      <td><input id="apellidoPat_emp" maxlenght="100" type="text" class="form-control" placeholder="Apellido del empleado" [(ngModel)]="servicio.apellidoPatEmp" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Dirección calle: </td> 
                      <td><input id="direccionCalle" maxlenght="255" type="text" class="form-control" placeholder="Dirección calle del cliente" [(ngModel)]="servicio.calle" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Dirección colonia: </td> 
                      <td><input id="direccionColonia" maxlenght="255" type="text" class="form-control" placeholder="Dirección colonia del cliente" [(ngModel)]="servicio.colonia" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Descripción de la vivienda: </td> 
                      <td><textarea class="textaco" id="descripcionDireccion" maxlenght="255" type="text" class="form-control" placeholder="Descripción de la vivienda del cliente" [(ngModel)]="servicio.descViv" [ngModelOptions]="{standalone: true}"></textarea></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Descripción del problema: </td> 
                      <td><textarea id="descripcionProblema" class="textaco" type="text" class="form-control" placeholder="Descripción del problema que tiene el cliente" [(ngModel)]="servicio.descProb" [ngModelOptions]="{standalone: true}"></textarea></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Costo total: </td> 
                      <td><input id="pagoServicio" maxlenght="9" type="number" class="form-control" placeholder="Coste del servicio (Puede variar después de una visita)" [(ngModel)]="servicio.costoTotal" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Fecha de la solicitud: </td> 
                      <td><input id="fechaOrden" type="date" class="form-control" [(ngModel)]="servicio.fechaSol" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Fecha de finalización: </td> 
                      <td><input id="fechaFinalizado" type="date" class="form-control" [(ngModel)]="servicio.fechaFin" [ngModelOptions]="{standalone: true}"></td>
                  </tr>
          
                  <tr>
                      <td id="descripcion" class="input-group-text bg-dark text-white">Estado: </td> 
                      <td>
                        <br>
                          <select name="estado" id="estado"[(ngModel)]="servicio.estado" [ngModelOptions]="{standalone: true}">
                                          <option id="select-opt" value="" selected>Seleccione uno</option>
                                          <option id="select-opt"  value="Sin revisar">Sin revisar</option>
                                          <option id="select-opt"  value="En proceso">En proceso</option>
                                          <option id="select-opt"  value="Completado">Completado</option>
                                          <option id="select-opt"  value="Cancelado">Cancelado</option>
                                          <option id="select-opt"  value="Por contactar">Por contactar</option>
                          </select>
                      </td>
                  </tr>
              
      </div>
      <div id="botones-venta">
          <input id="submit" type="button" name="btn-operacion" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" value="Eliminar">
          <input id="submit" type="submit" name="btn-operacion" value="Limpiar">
          <!--
          <input id="submit" type="button" name="btn-operacion" (click)="insertarServ()" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" (click)="modificarServ()" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" (click)="consultarServ()" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" (click)="eliminarServ()" value="Eliminar">
          <input id="submit" type="submit" name="btn-operacion" (click)="limpiar()" value="Limpiar">
          -->
      </div>
      <br><br>
      <div class="contenedorAlr" align="center">
        <!--
          <div class="alert" *ngIf="alertaAbajo != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              <strong>¡ERROR!</strong> Ha ocurrido un error al <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          <div class="alertEx" *ngIf="exito != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              Se ha podido <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          -->
      </div>
  </form>
  <div id="ancho">
      <div id="contenedorTabla">
          <table id="tabla" align="center">
              <tr id="tituloTabla">
                  <th>Código de servicio</th>
                  <th>Nombre del cliente</th>
                  <th>Apellido paterno del cliente</th>
                  <th>Télefono del cliente</th>
                  <th>Metodo de pago</th>
                  <th>Calle</th>
                  <th>Colonia</th>
                  <th>Desc. Vivienda</th>
                  <th>Desc. Problema</th>
                  <th>Costo total</th>
                  <th>Nombre del empleado</th>
                  <th>Apellido paterno del empleado</th>
                  <th>Fecha de solicitud</th>
                  <th>Estado</th>
              </tr>
                      <!--<tr *ngFor="let serv of servicios | async">-->
                        <tr>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>

                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Código de servicio</td>
                          <td align="center" id="textoTabla"> Codigo de servicio</td>
                      </tr>
                  </table>
      </div>
  </div>
</div>
  </body>
  
  