
<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>

<!-- Encabezado -->
<div id="encabezado" class="text-center">
  <p>Servicios</p>
</div>
<br><br>



<!-- Formulario -->
<div class="container w-50">
  <form>
    
      <div id="datos-servicio" align="center">
       <div class="row justify-content-md-center mb-2">
        <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Código de servicio: </span>
                </div>   
                  <input class="form-control"  type="number" min="1" max="{{ maxId }}"  placeholder="Código del servicio"  class="form-control" [(ngModel)]="servicio.idServicio" [ngModelOptions]="{standalone: true}">
                </div>
          </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend w-25">
            <span class="input-group-text bg-dark">Cliente:</span>
          </div>
          <select class="form-select" [(ngModel)]="servicio.idCliente" [ngModelOptions]="{standalone: true}">
            <option value="" selected>Seleccionar cliente</option>
            <option *ngFor="let cli of clientes" value="{{cli.idCliente}}" selected>{{cli.nombre_cli+" "+cli.apellidoPat_cli}}</option>
          </select>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Teléfono: </span>
            </div>
            <input class="form-control" id="telefono_cli" maxlength="100" type="text" placeholder="Teléfono para contactar al cliente" [(ngModel)]="servicio.telefono" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend w-25">
            <span class="input-group-text bg-dark">Municipio/ciudad :</span>
          </div>
          <select class="form-select" [(ngModel)]="servicio.ciudad" [ngModelOptions]="{standalone: true}">
            <option value="" selected>Seleccionar municipio</option>
            <option *ngFor="let mun of municipios" value="{{mun}}" selected>{{mun}}</option>
          </select>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Dirección calle: </span>
            </div>
            <input class="form-control" id="direccionCalle" maxlength="255" type="text" placeholder="Dirección calle del cliente" [(ngModel)]="servicio.calle" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Dirección colonia: </span>
            </div>
            <input class="form-control" id="direccionColonia" maxlength="255" type="text" placeholder="Dirección colonia del cliente" [(ngModel)]="servicio.colonia" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Desc. vivienda: </span>
            </div>
            <textarea class="form-control" id="descripcionDireccion" style="height: 20px;" maxlength="255" type="text" placeholder="Descripción de la vivienda del cliente" [(ngModel)]="servicio.descripcionDireccion" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Desc problema: </span>
            </div>
            <textarea class="form-control" style="height: 20px;" type="text" placeholder="Descripción del problema que tiene el cliente" [(ngModel)]="servicio.descripcionProblema" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Costo total: </span>
            </div>
            <input class="form-control" min="0" id="pagoServicio" maxlength="9" type="number" placeholder="Coste del servicio (Puede variar después de una visita)" [(ngModel)]="servicio.pagoServicio" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Fecha solicitud: </span>
            </div>
            <input class="form-control" id="fechaOrden" type="date" [(ngModel)]="servicio.fechaOrden" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Próxima cita: </span>
            </div>
            <input class="form-control" id="fechaOrden" type="date" [(ngModel)]="servicio.proximaCita" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Fecha finalización: </span>
            </div>
            <input class="form-control" id="fechaFinalizado" type="date" [(ngModel)]="servicio.fechaFinalizado" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Estado: </span>
            </div>      
                  <select name="estado" class="form-select"  id="estado"[(ngModel)]="servicio.estadoServicio" [ngModelOptions]="{standalone: true}">
                    <option value="" selected>Seleccione uno</option>
                    <option value="Solicitado">Solicitado</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Completado">Completado</option>
                  </select>              
            </div>
      <br>
      <br>
      
      <div id="botones-venta" class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-auto">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" (click)="insertarServ()" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" (click)="modificarServ()" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" (click)="consultarServ()" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" (click)="eliminarServ()" value="Cancelar">
          <input id="submit" type="submit" name="btn-operacion" class="btn btn-primary" (click)="limpiar()" value="Limpiar">
        </div>
      </div>
    </div>
</div>    
      </div>
      <br><br>
      <div class="contenedorAlr" align="center">
        <!--
          <div class="alert" *ngIf="alertaAbajo != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              <strong>¡ERROR!</strong> Ha ocurrido un error al <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          <div class="alertEx" *ngIf="exito != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              Se ha podido <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          -->
      </div>
        </div>
      </div>
  </form>
</div>
<div class="container" style="padding-left: 70px; padding-bottom: 20px;">
  <div class="row justify-content-md-center" style="overflow-y: auto;
  height: 500px;">
    <div class="col-6" *ngFor="let serv of servicios ">
        <div class="container shadow p-2 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-7">
                    <h4>Servicio {{ serv.estadoServicio }} #{{ serv.idServicio }}</h4>
                </div>
                <div class="col-5" align="right">
                    <a style="text-decoration:none;" routerLink="../servicio"><h6 (click)="buscarServ(serv.idServicio)" > Modificar </h6></a>
                </div>
                <div class="col-7">
                  <div *ngIf="serv.estadoServicio=='Solicitado'" ><i class='bx bxs-calendar'></i> {{ formatoFecha(serv.fechaOrden) }} </div>
                  <div *ngIf="serv.estadoServicio=='En proceso'" ><i class='bx bxs-calendar'></i> {{formatoFecha(serv.proximaCita) }} </div>
                  <div *ngIf="serv.estadoServicio=='Completado'" ><i class='bx bxs-calendar'></i> {{formatoFecha(serv.fechaFinalizado) }} </div>
                  <div *ngIf="serv.estadoServicio=='Cancelado'" ><i class='bx bxs-calendar'></i> {{formatoFecha(serv.fechaFinalizado) }} </div>

                  <i class='bx bxs-error-circle'></i> {{ serv.descripcionProblema }}<br>
                  <i class='bx bx-money'></i> ${{ formatoCosto(serv.pagoServicio) }}
                </div>
                <div class="col-5" align="right">
                    {{ serv.nombre_cli }} {{ serv.apellidoPat_cli }} <i class='bx bxs-user'></i><br>
                    {{ formatoTelefono(serv.telefono) }} <i class='bx bxs-phone'></i><br>
                </div>
                <div class="col-12">
                    <hr style="background: rgb(11, 198, 245); height: 5px;">
                </div>
                <div class="col-6">
                    <i class='bx bxs-city'></i> {{serv.ciudad}} <br>
                    <i class='bx bxs-directions'></i> {{ serv.colonia }},<br> {{ serv.calle }}
                </div>
                <div class="col-6" align="right">
                  <i class='bx bxs-map'></i> <br>{{ serv.descripcionDireccion }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

  </body>
  
  