
<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>
   <!-- Encabezado -->
   <br>
    <div id="encabezado" class="text-center">
      <p>Nota de servicio</p>
    </div>
  <br>

<!-- Linea -->
<div id="contenedor-linea">
  <div id="linea">
  </div>
</div>

<div class="contenedorAlr" align="center">
  <!--
  <div class="alert" *ngIf="alertaArriba != false;">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
          (click)="borrarArriba()">&times;</span> 
      <strong>ERROR!</strong> Ha ocurrido un error al filtrar los servicios.
    </div>
  -->
</div>

<div class="container w-50" align="center">
<form class="topBefore" action="Envio.php" method="post">
  
    <div class="row justify-content-md-center mb-2">
      <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Estado:</span>
            </div>
            <select class="form-select" name="esta" id="metodoPago" [(ngModel)]="filtroEst" [ngModelOptions]="{standalone: true}">
              <option value="" selected>Seleccione uno</option>
              <option value="Sin revisar">Sin revisar</option>
              <option value="En proceso">En proceso</option>
              <option value="Cancelado">Cancelado</option>
              <option value="Completado">Completado</option>
              <option value="Por contactar">Por contactar</option>
            </select>
          </div>
        </div>
      
      <div class="row justify-content-md-center mb-2">
        <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Fecha de solicitud:</span>
            </div>
            <input class="form-control" id="filtrOrden" type="date" [(ngModel)]="filtroFech" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
  <div id="botones-filtro" class="text-center">
    <div class="row justify-content-center">
        <div class="col-md-auto">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
      <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Filtrar">
      <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Mostrar todo">
  </div>
</div>
</div>
</div>
</div>

</form>
</div>
<br>
<div class="container" style="padding-left: 70px;">
  <div class="row justify-content-md-center">
    <div class="col-6">
        <div class="container shadow p-2 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-7">
                    <h4>Servicio Completado</h4>
                </div>
                <div class="col-5" align="right">
                    <a style="text-decoration:none;" routerLink="../servicio"><h6>Modificar</h6></a>
                </div>
                <div class="col-7">
                    <i class='bx bxs-calendar'></i> 10/07/2023<br>
                    <i class='bx bxs-error-circle'></i> Mi lavadora tira agua<br>
                    <i class='bx bx-money'></i> $1,200.00
                </div>
                <div class="col-5" align="right">
                    <i class='bx bxs-user'></i> Jose Lopéz <br>
                    <i class='bx bxs-phone'></i> 3320452252 <br>
                </div>
                <div class="col-12">
                    <hr style="background: rgb(11, 198, 245); height: 5px;">
                </div>
                <div class="col-12">
                    <i class='bx bxs-city'></i> Zapopan 
                </div>
                <div class="col">
                    <i class='bx bxs-directions'></i> Colonia, Calle 2030 
                </div>
            </div>
        </div>
    </div>
</div>
</div>

  <!-- <div id="contenedorTabla" class="container-fluid" style="padding-left: 90px;">
    <div class="table-responsive">
      <table id="tabla" align="center" class="table talbe-striped table-bordered tabla-personalizada" >
      <thead class="thead-dark">
          <tr id="tituloTabla" align="center" class="table-dark">
              <th>Código de servicio</th>
              <th>Nombre del cliente</th>
              <th>Télefono del cliente</th>
              <th>Apellido paterno del cliente</th>
              <th>Nombre del empleado</th>
              <th>Apellido paterno del empleado</th>
              <th>Descripción del problema</th>
              <th>Fecha de solicitud</th>
              <th>Estado</th>
          </tr>
          </thead>
          <tbody>
                  <!--<tr *ngFor="let serv of filtrado">
                  <tr>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio </td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                      <td align="center" id="textoTabla"> Código de servicio</td>
                  </tr>
                </tbody>
              </table>
  </div>
</div> -->



<!-- Encabezado -->
<div id="encabezado" class="text-center">
  <p>Modificar servicios</p>
</div>
<br><br>

<!-- Linea -->
<div id="contenedor-linea">
  <div id="linea">
  </div>
</div>



<!-- Formulario -->
<div class="container w-50">
  <form id="form" action="Envio.php" method="post">
    
      <div id="datos-servicio" align="center">
       <div class="row justify-content-md-center mb-2">
        <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Código de servicio: </span>
                    </div>   
                      <input class="form-control"  id="idServicio"  placeholder="Código del servicio"  class="form-control" [(ngModel)]="servicio.codigoTick" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
          <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Nombre: </span>
            </div>
            <input class="form-control" id="nombre_cli" maxlength="100" type="text" placeholder="Nombre del cliente" [(ngModel)]="servicio.nombreCli" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Apellido paterno: </span>
            </div>
            <input class="form-control" id="apellidoPat_cli" maxlength="100" type="text" placeholder="Apellido paterno del cliente" [(ngModel)]="servicio.apellidoPatCli" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Teléfono: </span>
            </div>
            <input class="form-control" id="telefono_cli" maxlength="100" type="text" placeholder="Teléfono para contactar al cliente" [(ngModel)]="servicio.telefono" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Nombre: </span>
            </div>
            <input class="form-control" id="nombre_emp" maxlength="100" type="text" placeholder="Nombre del empleado" [(ngModel)]="servicio.nombreEmp" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Apellido paterno: </span>
            </div>
            <input class="form-control" id="apellidoPat_emp" maxlength="100" type="text" placeholder="Apellido del empleado" [(ngModel)]="servicio.apellidoPatEmp" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Dirección calle: </span>
            </div>
            <input class="form-control" id="direccionCalle" maxlength="255" type="text" placeholder="Dirección calle del cliente" [(ngModel)]="servicio.calle" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Dirección colonia: </span>
            </div>
            <input class="form-control" id="direccionColonia" maxlength="255" type="text" placeholder="Dirección colonia del cliente" [(ngModel)]="servicio.colonia" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-auto">
              <span class="input-group-text bg-dark">Descripción de la vivienda: </span>
            </div>
            <textarea class="form-control" id="descripcionDireccion" style="height: 20px;" maxlength="255" type="text" placeholder="Descripción de la vivienda del cliente" [(ngModel)]="servicio.descViv" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-auto">
              <span class="input-group-text bg-dark">Descripción del problema: </span>
            </div>
            <textarea class="form-control" style="height: 20px;" type="text" placeholder="Descripción del problema que tiene el cliente" [(ngModel)]="servicio.descProb" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Costo total: </span>
            </div>
            <input class="form-control" min="0" id="pagoServicio" maxlength="9" type="number" placeholder="Coste del servicio (Puede variar después de una visita)" [(ngModel)]="servicio.costoTotal" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-auto">
              <span class="input-group-text bg-dark">Fecha de la solicitud: </span>
            </div>
            <input class="form-control" id="fechaOrden" type="date" [(ngModel)]="servicio.fechaSol" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-auto">
              <span class="input-group-text bg-dark">Fecha de finalización: </span>
            </div>
            <input class="form-control" id="fechaFinalizado" type="date" [(ngModel)]="servicio.fechaFin" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row justify-content-md-center mb-2">
          <div class="input-group mb-auto">
            <div class="input-group-prepend w-25">
              <span class="input-group-text bg-dark">Estado: </span>
            </div>      
                  <select name="estado" class="form-select"  id="estado"[(ngModel)]="servicio.estado" [ngModelOptions]="{standalone: true}">
                    <option id="select-opt" value="" selected>Seleccione uno</option>
                    <option id="select-opt"  value="Sin revisar">Sin revisar</option>
                    <option id="select-opt"  value="En proceso">En proceso</option>
                    <option id="select-opt"  value="Completado">Completado</option>
                    <option id="select-opt"  value="Cancelado">Cancelado</option>
                    <option id="select-opt"  value="Por contactar">Por contactar</option>
                  </select>              
            </div>
      <br>
      <br>
      
      <div id="botones-venta" class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-auto">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Eliminar">
          <input id="submit" type="submit" name="btn-operacion" class="btn btn-primary" value="Limpiar">
        </div>
      </div>
    </div>
</div>
          <!--
          <input id="submit" type="button" name="btn-operacion" (click)="insertarServ()" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" (click)="modificarServ()" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" (click)="consultarServ()" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" (click)="eliminarServ()" value="Eliminar">
          <input id="submit" type="submit" name="btn-operacion" (click)="limpiar()" value="Limpiar">
          -->
      </div>
      <br><br>
      <div class="contenedorAlr" align="center">
        <!--
          <div class="alert" *ngIf="alertaAbajo != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              <strong>¡ERROR!</strong> Ha ocurrido un error al <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          <div class="alertEx" *ngIf="exito != false">
              <span class="closebtn" (click)="borrarAbajo()">&times;</span> 
              Se ha podido <strong>{{ descripcionAlert }}</strong> la nota de servicio
          </div>
          -->
      </div>
        </div>
      </div>
  </form>
</div>
<div class="container" style="padding-left: 70px;">
  <div class="row justify-content-md-center">
    <div class="col-6">
        <div class="container shadow p-2 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-7">
                    <h4>Servicio Completado #12</h4>
                </div>
                <div class="col-5" align="right">
                    <a style="text-decoration:none;" routerLink="../servicio"><h6>Modificar</h6></a>
                </div>
                <div class="col-12">
                  <i class='bx bxs-user'></i> Agustín Galavís <br> <br>
                </div>
                <div class="col-7">
                    <i class='bx bxs-calendar'></i> 10/07/2023<br>
                    <i class='bx bxs-error-circle'></i> Mi lavadora tira agua<br>
                    <i class='bx bx-money'></i> $1,200.00
                </div>
                <div class="col-5" align="right">
                    <i class='bx bxs-user'></i> Jose Lopéz <br>
                    <i class='bx bxs-phone'></i> 3320452252 <br>
                </div>
                <div class="col-12">
                    <hr style="background: rgb(11, 198, 245); height: 5px;">
                </div>
                <div class="col-auto">
                    <i class='bx bxs-city'></i> Zapopan <br>
                    <i class='bx bxs-directions'></i> Colonia, Calle 2030 <br>
                </div>
                <div class="col" align="right">
                  <p><i class='bx bxs-map'></i>Puerta de color azul con una fachada blanca</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

  </body>
  
  