<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>
    <div class="contenido">
      <br>
      <div id="encabezado" class="text-center">
        <p>Productos</p>
        <br>
        
      </div>
      <form id="form" class="topBefore" method="post">
        <div id="datos-producto" class="container w-50" align="center">
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Nombre: </span>
              </div>
              <input id="nombre" maxlenght="100" class="form-control" type="text" placeholder="Nombre del Producto" [(ngModel)]="producto.nombreProd" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Precio a venta: </span>
              </div>
              <input id="costoIndividual" maxlenght="9" class="form-control" type="text" placeholder="Precio del producto al público" [(ngModel)]="producto.costoIndividual" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Stock: </span>
              </div>
              <input id="Stock:" min="0" maxlenght="100" class="form-control" type="number" placeholder="Cantidad de producto disponible" [(ngModel)]="producto.stock" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Descripción: </span>
              </div>
              <input id="descripcionProd" class="form-control" type="text" placeholder="Descripción del producto" [(ngModel)]="producto.descripcionProd" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Marca: </span>
              </div>
              <select name="marca" id="marca" class="form-select" [(ngModel)]="producto.marca" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="" selected>Seleccione uno</option>
                <option id="select-opt" value="Generica">Generica</option>
                <option id="select-opt" value="Maytag">Maytag</option>
                <option id="select-opt" value="Samsung">Samsung</option>
                <option id="select-opt" value="Mabe">Mabe</option>
                <option id="select-opt" value="Whirpool">Whirpool</option>
                <option id="select-opt" value="LG">LG</option>
                <option id="select-opt" value="Frigidaire">Frigidaire</option>
                <option id="select-opt" value="Electrolux">Electrolux</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Condición: </span>
              </div>
              <select name="condicion" id="condicion" class="form-select" [(ngModel)]="producto.condicion" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="" selected>Seleccione uno</option>
                <option id="select-opt" value="Nuevo">Nuevo</option>
                <option id="select-opt" value="Semi-nuevo">Semi-nuevo</option>
                <option id="select-opt" value="Usado">Usado</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Estado: </span>
              </div>
              <select name="estado" id="estado" class="form-select" [(ngModel)]="producto.estado" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="">Seleccione uno</option>
                <option id="select-opt" value="Existente">Existente</option>
                <option id="select-opt" value="Sin existencia">Sin existencia</option>
                <option id="select-opt" value="Descontinuado">Descontinuado</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Imagén: </span>
              </div>
                <input class="form-control" type="file" id="imagen" accept="image/png, image/jpeg, image/jpg">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
              </div>
              <img *ngIf="producto.imgurl != ''; else esvacio" src="{{ producto.imgurl }}" alt="" width="350px" height="250px">
              <ng-template #esvacio>
                <img src="https://www.lg.com/mx/images/lavadoras-y-secadoras/md07547461/Gallery/D_11.jpg" alt="" width="350px" height="250px">
              </ng-template>
            </div>
          </div>
  
          <div id="botones-producto" class="container text-center">
            <div class="row justify-content-center">
              <div class="col-md-auto">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Guardar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Modificar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Buscar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Eliminar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Mostrar todo">
                    <input id="submit" type="submit" name="btn-operacion" class="btn btn-primary" value="Limpiar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <br>
    </div>

    <div class="container" style="padding-left: 70px;">
      <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="container shadow p-2 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-7">
                        <h4>Motor para lavadora Mabe #1</h4>
                    </div>
                    <div class="col-5" align="right">
                        <a style="text-decoration:none;" routerLink="../servicio"><h6>Modificar <i class='bx bxs-edit-alt'></i></h6></a>
                    </div>
                    <div class="col-12">
                      <p><i class='bx bxs-info-circle'></i> Motor para lavadoras Mabe del año 2010, modelo 2435B</p>
                      <hr style="background: rgb(11, 198, 245); height: 5px;">
                    </div>
                    <div class="col-4">
                      <img src="https://www.lg.com/mx/images/lavadoras-y-secadoras/md07547461/Gallery/D_11.jpg" width="auto" height="150px">
                    </div>
                    <div class="col" align="right">
                      $1,500.00 <i class='bx bxs-badge-dollar'></i><br>
                      10 <i class='bx bxs-component'></i><br>
                      Mabe <i class='bx bxs-registered'></i><br>
                      Semi-nuevo <i class='bx bxs-star'></i><br><br>
                      <h5>Existente</h5> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  </body>
  
  