<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>
    <div class="contenido">
      <br>
      <div id="encabezado" class="text-center">
        <p>Productos</p>
        <br>
        
      </div>
      <form id="form" class="topBefore" method="post">
        <div id="datos-producto" class="container w-50" align="center">
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Nombre: </span>
              </div>
              <input id="nombre" maxlenght="100" class="form-control" type="text" placeholder="Nombre del Producto" [(ngModel)]="producto.nombreProd" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Precio a venta: </span>
              </div>
              <input id="costoIndividual" maxlenght="9" class="form-control" type="text" placeholder="Precio del producto al público" [(ngModel)]="producto.costoIndividual" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Stock: </span>
              </div>
              <input id="Stock:" maxlenght="100" class="form-control" type="number" placeholder="Cantidad de producto disponible" [(ngModel)]="producto.stock" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Descripción: </span>
              </div>
              <input id="descripcionProd" class="form-control" type="text" placeholder="Descripción del producto" [(ngModel)]="producto.descripcionProd" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Marca: </span>
              </div>
              <select name="marca" id="marca" class="form-select" [(ngModel)]="producto.marca" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="" selected>Seleccione uno</option>
                <option id="select-opt" value="Generica">Generica</option>
                <option id="select-opt" value="Maytag">Maytag</option>
                <option id="select-opt" value="Samsung">Samsung</option>
                <option id="select-opt" value="Mabe">Mabe</option>
                <option id="select-opt" value="Whirpool">Whirpool</option>
                <option id="select-opt" value="LG">LG</option>
                <option id="select-opt" value="Frigidaire">Frigidaire</option>
                <option id="select-opt" value="Electrolux">Electrolux</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Condición: </span>
              </div>
              <select name="condicion" id="condicion" class="form-select" [(ngModel)]="producto.condicion" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="" selected>Seleccione uno</option>
                <option id="select-opt" value="Nuevo">Nuevo</option>
                <option id="select-opt" value="Semi-nuevo">Semi-nuevo</option>
                <option id="select-opt" value="Usado">Usado</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Estado: </span>
              </div>
              <select name="estado" id="estado" class="form-select" [(ngModel)]="producto.estado" [ngModelOptions]="{standalone: true}">
                <option id="select-opt" value="">Seleccione uno</option>
                <option id="select-opt" value="Existente">Existente</option>
                <option id="select-opt" value="Sin existencia">Sin existencia</option>
                <option id="select-opt" value="Descontinuado">Descontinuado</option>
              </select>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Imagén: </span>
              </div>
              <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                <input type="file" id="imagen" name="imagen" class="imagen" accept="image/png, image/jpeg, image/jpg">
                Seleccionar una imagen...
              </div>
            </div>
          </div>
  
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
              </div>
              <img *ngIf="producto.imgurl != ''; else esvacio" src="{{ producto.imgurl }}" alt="" width="350px" height="250px">
              <ng-template #esvacio>
                <img src="https://www.lg.com/mx/images/lavadoras-y-secadoras/md07547461/Gallery/D_11.jpg" alt="" width="350px" height="250px">
              </ng-template>
            </div>
          </div>
  
          <div id="botones-producto" class="container text-center">
            <div class="row justify-content-center">
              <div class="col-md-auto">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Guardar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Modificar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Buscar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Eliminar">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Mostrar todo">
                    <input id="submit" type="submit" name="btn-operacion" class="btn btn-primary" value="Limpiar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
  
  