<header>
    <app-menu-bs></app-menu-bs>
</header>
<body>
    <div class="topBefore">
        <div id="datos-producto" align="center">
            <table>
                <!--
                    <tr>
                        <td id="descripcion">Código de producto: </td> 
                        <td><input id="idProducto" type="number" placeholder="Código del producto" value=""></td>
                    </tr>
                -->
            
                    <tr>
                        <td id="descripcion">Nombre: </td> 
                        <td><input id="nombre" maxlenght="50" type="text" placeholder="Nombre del producto" [(ngModel)]="producto.nombreProd" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
            
                
                    <tr>
                        <td id="descripcion">Precio a venta: </td> 
                        <td><input id="costoIndividual" maxlenght="9" type="number" placeholder="Precio del producto al público" [(ngModel)]="producto.costoIndividual" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
            
            
                    <tr>
                        <td id="descripcion">Stock: </td> 
                        <td><input id="stock" type="number" maxlenght="100" placeholder="Cantidad de producto disponible" [(ngModel)]="producto.stock" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td id="descripcion">Descripción: </td> 
                        <td><input id="descripcionProd" type="text" placeholder="Descripción del producto" [(ngModel)]="producto.descripcionProd" [ngModelOptions]="{standalone: true}" ></td>
                    </tr>
                            <tr>
                                <td id="descripcion">Marca: </td>
                                <td>
                                        <select name="marca" id="marca" [(ngModel)]="producto.marca" [ngModelOptions]="{standalone: true}">
                                            <option id="select-opt" value="" selected>Seleccione uno</option>
                                            <option id="select-opt"  value="Generica">Generica</option>
                                            <option id="select-opt"  value="Maytag">Maytag</option>
                                            <option id="select-opt"  value="Samsung">Samsung</option>
                                            <option id="select-opt"  value="Mabe">Mabe</option>
                                            <option id="select-opt"  value="Whirpool">Whirpool</option>
                                            <option id="select-opt"  value="LG">LG</option>
                                            <option id="select-opt"  value="Frigidaire">Frigidaire</option>
                                            <option id="select-opt"  value="Electrolux">Electrolux</option>
                                        </select>
                                    </td>
                            </tr>        
            
            
                            <tr>
                                <td id="descripcion">Condición: </td>
                                    <td>
                                        <select name="condicion" id="condicion" [(ngModel)]="producto.condicion" [ngModelOptions]="{standalone: true}">
                                            <option id="select-opt" value="" selected>Seleccione uno</option>
                                            <option id="select-opt"  value="Nuevo">Nuevo</option>
                                            <option id="select-opt"  value="Semi-nuevo">Semi-nuevo</option>
                                            <option id="select-opt"  value="Usado">Usado</option>
                                        </select>
                                    </td>
                            </tr>
                            <tr>
                                <td id="descripcion">Estado: </td>
                                    <td>
                                        <select name="estado" id="estado" [(ngModel)]="producto.estado" [ngModelOptions]="{standalone: true}">
                                            <option id="select-opt" value="">Seleccione uno</option>
                                            <option id="select-opt"  value="Existente">Existente</option>
                                            <option id="select-opt"  value="Sin existencia">Sin existencia</option>
                                            <option id="select-opt"  value="Descontinuado">Descontinuado</option>
                                        </select>
                                    </td>
                            </tr>
    
                            <tr>
                                <td id="descripcion">Imagén: </td> 
                                <!--
                                <input type="file" id="imagen" name="imagen" class="imagen" accept="image/png, image/jpeg, image/jpg" (change)="fotoseleccionada($event)">
                                -->
                                <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                                    <input type="file" id="imagen" name="imagen" class="imagen" accept="image/png, image/jpeg, image/jpg">
                                    Seleccionar una imagén...
                                </div>
                            </tr>
    
                            <tr>
                                <td>
                                </td>
                                <td><img *ngIf="producto.imgurl != ''; else esvacio" src="{{ producto.imgurl }}" alt="" width="250px" height="250px">
                                    <ng-template #esvacio>
                                        <img src="assets/nodisponible.png" alt="" width="250px" height="250px">
                                    </ng-template>
                                </td>
                            </tr>
                    
                    </table>
        </div>
        <div id="botones-producto">
            <!--
            <input id="submit" type="button" name="btn-operacion" (click)="insertarProd()" value="Guardar">
            <input id="submit" type="button" name="btn-operacion" (click)="modificarProd()" value="Modificar">
            <input id="submit" type="button" name="btn-operacion" (click)="consultarProd()" value="Buscar">
            <input id="submit" type="button" name="btn-operacion" (click)="eliminarProd()" value="Eliminar">
            <input id="submit" type="button" name="btn-operacion" (click)="todoProd()" value="Mostrar todo">
            <input id="submit" type="submit" name="btn-operacion" (click)="limpiar()" value="Limpiar">
            -->
            <input id="submit" type="button" name="btn-operacion" value="Guardar">
            <input id="submit" type="button" name="btn-operacion" value="Modificar">
            <input id="submit" type="button" name="btn-operacion" value="Buscar">
            <input id="submit" type="button" name="btn-operacion" value="Eliminar">
            <input id="submit" type="button" name="btn-operacion" value="Mostrar todo">
            <input id="submit" type="submit" name="btn-operacion" value="Limpiar">
        </div>
    </div>    
</body>
<footer>
    <app-footer></app-footer>
</footer>