<header>
    <app-menu-bs></app-menu-bs>
</header>
<body>
    <div class="contenido">
        <br>
        <h1 align="center">¡Bienvenid@!</h1>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 align="center">Pedidos pendientes</h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="container shadow p-2 mb-5 bg-white rounded">
                        <div class="row">
                            <div class="col-7">
                                <h4>Pedido</h4>
                            </div>
                            <div class="col-5">
                                <a style="text-decoration:none;" routerLink="../envio"><h6>Más información</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container shadow p-2 mb-5 bg-white rounded">
                        <h1>Pedido</h1>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container shadow p-2 mb-5 bg-white rounded">
                        <h1>Pedido</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3 align="center">Servicios pendientes</h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4" *ngFor="let serv of servicios" >
                    <div class="container shadow p-2 mb-5 bg-white rounded">
                        <div class="row">
                            <div class="col-7">
                                <h4>Servicio {{serv.idServicio}}</h4>
                            </div>
                            <div class="col-5">
                                <a style="text-decoration:none;" routerLink="../servicio"><h6>Más información</h6></a>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>