<header>
    <app-menu-bs></app-menu-bs>
  </header>
  
  <body>
    <div class="contenido">
      <br>
      <div id="encabezado" class="text-center">
        <p>Empleados</p>
      </div>
      <br>
      <form id="form" class="topBefore" action="Empleado.php" method="post">
        <div id="datos-empleado" class="container w-50" align="center">
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Código de empleado: </span>
              </div>
              <input class="form-control" id="nombre_emp" maxlength="100" type="text" placeholder="Nombre del empleado" [(ngModel)]="empleado.idEmpleado" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Nombre: </span>
              </div>
              <input class="form-control" id="nombre_emp" maxlength="100" type="text" placeholder="Nombre del empleado" [(ngModel)]="empleado.nombre_emp" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Apellido paterno: </span>
              </div>
              <input class="form-control" id="apellidoPat_emp" maxlength="100" type="text" placeholder="Apellido del empleado" [(ngModel)]="empleado.apellidoPatEmp" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Apellido materno: </span>
              </div>
              <input class="form-control" id="apellidoMat_emp" maxlength="100" type="text" placeholder="Apellido del empleado" [(ngModel)]="empleado.apellidoMatEmp" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Puesto: </span>
              </div>
              <select name="puesto" id="puesto" class="form-select" [(ngModel)]="empleado.puesto" [ngModelOptions]="{standalone: true}">
                <option value="" selected>Seleccione uno</option>
                <option value="Secretario">Secretario</option>
                <option value="Técnico">Técnico</option>
                <option value="Almacenista">Almacenista</option>
                <option value="Gerente">Gerente</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Sexo: </span>
              </div>
              <select name="sexo" id="sexo" class="form-select" [(ngModel)]="empleado.sexo" [ngModelOptions]="{standalone: true}">
                <option value="">Seleccione uno</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Turno: </span>
              </div>
              <select name="turno" id="turno" class="form-select" [(ngModel)]="empleado.turno" [ngModelOptions]="{standalone: true}">
                <option value="">Seleccione uno</option>
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-auto">
                <span class="input-group-text bg-dark">Fecha de nacimiento: </span>
              </div>
              <input class="form-control" id="fechaNac" type="date" [(ngModel)]="empleado.fechaNac" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Salario: </span>
              </div>
              <input class="form-control" id="salario" type="text" placeholder="Salario del empleado" [(ngModel)]="empleado.salario" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-auto">
                <span class="input-group-text bg-dark">Ingreso a la empresa: </span>
              </div>
              <input class="form-control" id="ingresoEmpre" type="date" [(ngModel)]="empleado.ingresoEmpresa" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">RFC: </span>
              </div>
              <input class="form-control" id="rfc" maxlength="13" type="text" placeholder="RFC del empleado" [(ngModel)]="empleado.rfc" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Dirección calle: </span>
              </div>
              <input class="form-control" id="direccionCalle" maxlength="255" type="text" placeholder="Dirección calle del empleado" [(ngModel)]="empleado.direccionCalle" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Dirección colonia: </span>
              </div>
              <input class="form-control" id="direccionColonia" maxlength="255" type="text" placeholder="Dirección colonia del empleado" [(ngModel)]="empleado.direccionColonia" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Teléfono: </span>
              </div>
              <input class="form-control" id="tele" maxlength="10" type="text" placeholder="Teléfono del empleado" [(ngModel)]="empleado.telefono" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Email: </span>
              </div>
              <input class="form-control" id="email" type="email" placeholder="Correo electrónico del empleado" [(ngModel)]="empleado.correo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-25">
                <span class="input-group-text bg-dark">Contraseña: </span>
              </div>
              <input class="form-control" id="contrasenia" type="password" placeholder="Contraseña de la cuenta del empleado" [(ngModel)]="empleado.password" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row justify-content-md-center mb-2">
            <div class="input-group mb-auto">
              <div class="input-group-prepend w-auto">
                <span class="input-group-text bg-dark">Estado del empleado: </span>
              </div>
              <select name="estado" id="estado" class="form-select" [(ngModel)]="empleado.estado" [ngModelOptions]="{standalone: true}">
                <option value="" selected>Seleccione uno</option>
                <option value="Activo">Activo</option>
                <option value="De baja">Baja</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <br>




<div id="botones-empleado" class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Guardar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Modificar">
          <input id="submit" type="button" name="btn-operacion" (click)="buscarEmp()" class="btn btn-primary" value="Buscar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Eliminar">
          <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" value="Mostrar todo">
              </div>
            </div>
          </div>
          <!--
                    <input id="submit" type="button" name="btn-operacion" (click)="insertarCli()" value="Guardar">
                    <input id="submit" type="button" name="btn-operacion" (click)="modificarCli()" value="Modificar">
                    <input id="submit" type="button" name="btn-operacion" (click)="consultarCli()" value="Buscar">
                    <input id="submit" type="button" name="btn-operacion" (click)="eliminarCli()" value="Eliminar">
                    <input id="submit" type="button" name="btn-operacion" (click)="todoCli()" value="Mostrar todo">
                    <input id="submit" type="submit" name="btn-operacion" (click)="limpiar()" value="Limpiar" >
                    -->
        </div>
        </div>
        <br><br>

        <div class="container" style="padding-left: 70px;">
          <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="container shadow p-2 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col-7">
                            <h4 style="color: rgb(172, 7, 7);">Jose Gómez Pérez #1</h4>
                        </div>
                        <div class="col-5" align="right">
                            <a style="text-decoration:none;" routerLink="../servicio">Modificar <i class='bx bxs-edit-alt'></i></a>
                        </div>
                        <div class="col-7">
                            <i class='bx bxs-id-card' ></i> Empleado<br>
                            <i class='bx bx-male-female' ></i> Masculino<br>
                            <i class='bx bx-time' ></i> Vespertino<br>
                            <i class='bx bx-calendar' ></i> 02/09/2001
                        </div>
                        <div class="col-5" align="right">
                          $10,000 <i class='bx bx-money' ></i><br>
                          15/06/2020 <i class='bx bx-calendar-check' ></i><br>
                          HECJ0109025H2S <i class='bx bxs-file'></i> 
                        </div>
                        <div class="col-12">
                            <hr style="background: rgb(11, 198, 245); height: 5px;">
                        </div>
                        <div class="col">
                            <i class='bx bxs-directions'></i> Colonia, Calle 2030 
                        </div>
                        <div class="col-5" align="right">
                          3329688602 <i class='bx bxs-phone' ></i><br>
                          JavierHC@hotmail.com <i class='bx bxs-envelope' ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        </div>



      </form>
    </div>
  </body>
  
  <br>
  <br>

 