<div class="modal-background" *ngIf="showModal">
    <div class="modal-container">
      <div class="modal-content">

        <div class="col-12" style="padding-right: 10px;">
            <form>
                <div id="datos-servicio" align="center">
                 <h2>Servicio {{servicio.estadoServicio}} #{{ servicio.idServicio }}</h2>
                  <br>
                  <h5 align="left">Información del cliente </h5>
                  <div class="row">
                    <div class="col-7 mb-2" align="left">
                      <i class='bx bxs-city'></i> {{servicio.ciudad}} <br>
                      <i class='bx bxs-directions'></i> {{ servicio.colonia }},<br> {{ servicio.calle }}
                    </div>
                    <div class="col-5" align="right">
                      {{ servicio.nombre_cli }} {{ servicio.apellidoPat_cli }} <i class='bx bxs-user'></i><br>
                      {{ formatoTelefono(servicio.telefono) }} <i class='bx bxs-phone'></i><br>
                    </div>
                    <div class="col-12" align="left">
                      <i class='bx bxs-map'></i> {{ servicio.descripcionDireccion }}
                    </div>
                  </div>
                  
                  <hr style="background: rgb(11, 198, 245); height: 5px;">

                  <h5>Información del servicio </h5>
                  
                  <input [(ngModel)]="servicio.idServicio" [ngModelOptions]="{standalone: true}" type="hidden">

                  <div class="row justify-content-md-center mb-2">
                    <div class="input-group mb-auto">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text bg-dark">Problema: </span>
                      </div>
                      <textarea class="form-control" style="height: 20px;" type="text" placeholder="Descripción del problema que tiene el cliente" [(ngModel)]="servicio.descripcionProblema" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-md-center mb-2">
                    <div class="input-group mb-auto">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text bg-dark">Costo total: </span>
                      </div>
                      <input class="form-control" min="0" id="pagoServicio" maxlength="9" type="number" placeholder="Coste del servicio (Puede variar después de una visita)" [(ngModel)]="servicio.pagoServicio" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="row justify-content-md-center mb-2">
                    <div class="input-group mb-auto">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text bg-dark">Próxima cita: </span>
                      </div>
                      <input class="form-control" id="fechaOrden" type="date" [(ngModel)]="servicio.proximaCita" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                <br>
                <br>
                
                <div id="botones-venta" class="container text-center">
                  <div class="row justify-content-center">
                      <div class="col-md-auto">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-primary" (click)="confirmarServ()" value="Agendar cita">
                    <input id="submit" type="button" name="btn-operacion" class="btn btn-success" (click)="completarServ()" value="Completar">
                    <input id="submit" type="submit" name="btn-operacion" class="btn btn-danger"(click)="eliminarServ()" value="Cancelar">
                  </div>
                </div>
              </div>
          </div>    
          </div>
          </div>
          </form>
          </div>


      </div>
      <span class="close" (click)="onCloseModal()">&times;</span>
    </div>
  </div>
  