<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Footer | CodingLab</title>--->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">ㅤㅤㅤㅤㅤRefacciones AGARI</div>
         ㅤㅤㅤㅤㅤ
         <img src="assets/img/agariHorizontal.png" alt="AgariLogo" width="280" height="70">
        </div>
     </div>
     <div class="middle box">
       <div class="topic">Pestañas</div>
       <div><a href="index.php">Inicio</a></div>
       <div><a href="catalogo.php">Clientes</a></div>
       <div><a href="contacto.php">Producto</a></div>
       <div><a href="nosotros.php">Servicio</a></div>
     </div>
   </div>
   <div class="bottom">
     <p>Copyright © 2023 <a>Refacciones AGARI</a> Todos los derechos reservados</p>
   </div>
 </footer>